@import "../../utils/style";

.footer {
    @include footerBg;

    width: 100%;
    position: relative;
    padding: 30px;
    top: 20vh;
    a {
        color: $wh;
        text-decoration: none;
    }
    &__links {
        padding-bottom: 15px;

        &__list {
            @include tablette {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            &--item {
            }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 20px;
    }
}
